body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    margin: 20px 0;
}

#teams-container input {
    display: block;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 10px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
    display: none; /* Initially hidden */
}

th, td {
    border: 1px solid black; /* Ensure cells have a border */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fafafa;
}

td.diagonal {
    background-color: black;
    color: white;
}

#race-form {
    display: none; /* Initially hidden */
}
