body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

form {
    margin: 20px 0;
}

#teams-container input {
    display: block;
    margin-bottom: 10px;
}

button, input[type="submit"] {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="file"] {
    margin: 10px 0;
    padding: 10px 0;
    font-size: 16px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid black;
    display: none; /* Initially hidden */
}

th, td {
    border: 1px solid black; /* Ensure cells have a border */
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td {
    background-color: #fafafa;
}

td.diagonal {
    background-color: black;
    color: white;
}

#race-form, #upload-form {
    display: none; /* Initially hidden */
}

/* Style for the file input and upload button */
#upload-form {
    display: block;
    margin: 20px 0;
}

#file-input {
    display: block;
    margin-bottom: 10px;
}

#upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#upload-button:hover {
    background-color: #45a049;
}
